body{
    background-color: #94ff6a94 !important;
}
img{
    left: 20px;
    top: 20px;
    width: 50px;
}
.navbar-toggler{
    background-color: #FFE8FF !important;
}
.navbar{
    background-color: #268116c7;
    color: rgb(10, 15, 9);
    z-index: 2;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(10, 15, 9) !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(10, 15, 9, 0.63) !important;
}
.image{
    width: 400px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #ee76527a, #e73c7e75, #23a5d57a, #23d5ab7a),url(./assets/logo.png);
	animation: log 5s ease 1;
	height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes log{
    0%{
        width: 250px;
        height: 250px;
	}
	100% {
        width: 400px;
        height: 400px;
    }
}
.lef-top,.rig-top,.lef-bot,.rig-bot{
    background-color: #268116c7;
    color: rgb(10, 15, 9);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
}
.lef-top:hover,.rig-top:hover,.lef-bot:hover,.rig-bot:hover{
    box-shadow: 4px 4px 8px rgb(10, 15, 9);
}
.lef-top{
    top: 20%;
    left: 10%;
    animation: lef-top 2s 1s 1;
}
@keyframes lef-top{
    0%{
        left: -20%;
    }
}
.rig-top{
    right: 10%;
    top: 20%;
    animation: rig-top 2s 1s 1;
}
@keyframes rig-top{
    0%{
        right: -50%;
    }
}
.rig-bot{
    bottom: 10%;
    right: 10%;
    animation: rig-bot 2s 1s 1;
}
@keyframes rig-bot{
    0%{
        right: -40%;
    }
}
.lef-bot{
    bottom: 10%;
    left: 10%;
    animation: lef-bot 2s 1s 1;
}
@keyframes lef-bot{
    0%{
        left: -20%;
    }
}
.btn-outline-success{
    background-color: #268116c7 !important;
    color: rgb(10, 15, 9) !important;
}
.btn-outline-success:hover{
    background-color: #42d827c7 !important;
}
.drop ul ul{
    display: none;
}
.drop ul li:hover >ul{
    display: inline-block;
}
.drop ul li:hover{
    text-decoration: underline;
}
.info{
    margin: 6vw;
    margin-top: 42%;
    color: rgb(10, 15, 9);
}
.info h2{
    text-align: center;
    margin: 25px;
}
.info .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.info .links a{
    text-decoration: none;
    color: rgb(10, 15, 9);
    padding: 10px;
    font-size: 1.8vw;
    border-radius: 10px;
    transition-duration: 1s;
}
.info .contain{
    border: double rgb(10, 15, 9) 10px;
    padding-bottom: 30px;
    border-radius: 50px 0px 50px 0px;
    margin-bottom: 5vw;
}
.info .links a:hover{
    background-color: #268116c7;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer .infocom img{
    margin: 10px;
}
.footer .infocom .fas{
    margin: 5px;
}
.footer .infocom .media{
    display: flex;
    justify-content: space-evenly;
}
.footer .infocom .fab{
    font-size: 30px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    color: #268116c7;
}
.footer .infocom+div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}